<div class="news">
  {% if site.events != blank %}
    {% assign future_events = site.events | where_exp: 'item', 'item.date >= site.time' %}
    {% assign future_events_size = future_events | size %}
    {% if include.limit and page.announcements.limit %}
      {% assign next_future_events = future_events | slice: 0, page.announcements.limit %}
    {% else %}
      {% assign next_future_events = future_events %}
    {% endif %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for item in next_future_events %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
      {% if include.limit and page.announcements.limit and page.announcements.limit < future_events_size %}
        <p>
          {% include events_url.liquid %}
          <a href="{{ url }}">See more events to come</a>
        </p>
      {% endif %}
    </div>
  {% else %}
    <p>No upcomfing events...</p>
  {% endif %}
</div>
