{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <!--
    Avoid warning on Google Chrome Error with Permissions-Policy header:
    Origin trial controlled feature not enabled: 'interest-cohort'.
    see https://stackoverflow.com/a/75119417
  -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.keywords or site.keywords %}
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
{% endif %}

{% if site.serve_og_meta %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ title }} | {{ page.title }}{% else %}{{ title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.og_image or site.og_image %}
    <meta property="og:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  <meta property="og:locale" content="{{ site.lang }}">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.og_image or site.og_image %}
    <meta name="twitter:image" content="{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}">
  {% endif %}
  {% if site.x_username %}
    <meta name="twitter:site" content="@{{ site.x_username }}">
    <meta name="twitter:creator" content="@{{ site.x_username }}">
  {% endif %}
{% endif %}

{% if site.serve_schema_org %}
  <!-- Schema.org -->
  {% comment %} Social links generator for "sameAs schema" {% endcomment %}
  {% assign sameaslinks = '' | split: ',' %}
  {% for social in site.data.socials %}
    {% case social[0] %}
      {% when 'blogger_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'bluesky_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'dblp_url' %}
        {% capture link %}{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'discord_id' %}
        {% capture link %}https://discord.com/users/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'email' %}
        {% comment %}
          {% capture link %}mailto:{{ social[1] | encode_email }}{% endcapture %}
          {% assign sameaslinks = sameaslinks | push: link %}
        {% endcomment %}
      {% when 'facebook_id' %}
        {% capture link %}https://facebook.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'instagram_id' %}
        {% capture link %}https://instagram.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'spotify_id' %}
        {% capture link %}https://open.spotify.com/user/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'deezer_id' %}
        {% capture link %}https://www.deezer.com/fr/artist/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'x_username' %}
        {% capture link %}https://twitter.com/{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% when 'youtube_id' %}
        {% capture link %}https://youtube.com/@{{ social[1] }}{% endcapture %}
        {% assign sameaslinks = sameaslinks | push: link %}
      {% else %}
        {% assign sameaslinks = sameaslinks | push: social[1].url %}
    {% endcase %}
  {% endfor %}

  <script type="application/ld+json">
    {
        "author":
        {
            "@type": "Person",
            "name": "{{ author_name }}"
        },
        "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
        "@type": "WebSite",
        "description": "{% if page.description %}{{ page.description }}{% else if site.description %}{{ site.description }}{% endif %}",
        "headline": "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
        {% if sameaslinks != blank %}
        "sameAs": {{ sameaslinks | jsonify }},
        {% endif %}
        "name": "{{ author_name }}",
        "@context": "https://schema.org"
    }
  </script>
{% endif %}
